.autosuggest-list {
  background-color: white;
  max-height: 60vh;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  z-index: 100000;
  cursor: pointer;
  border-left: 1px solid LightSkyBlue;
  border-right: 1px solid LightSkyBlue;
  border-bottom: 1px solid LightSkyBlue; }
  .autosuggest-list > div:hover {
    background-color: LightSkyBlue; }

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
  transform: translate3d(220px, 0, 0) !important; }
