<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Web-API by Valandur</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
</head>

<body>
  <section class="page-header">
    <h1 class="project-name">Web-API</h1>
    <h2 class="project-tagline">RESTful web server for Minecraft Sponge</h2>
    <a href="https://github.com/Valandur/Web-API" class="btn">View on GitHub</a>
    <a href="https://valandur.github.io/Web-API/redoc.html" class="btn">View Endpoints</a>
    <a href="https://github.com/Valandur/Web-API/releases/tag/v5.0.7" class="btn">Download v5.0.7</a>
  </section>

  <section class="main-content">
    {{ content }}
  </section>


</body>

</html>